<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.llf.mapper.StudentMapper">

	<select resultType="cn.llf.pojo.Student" id="getall">
	select * from mybatisinfo 
	</select>
	
	<select resultType="int" id="count">
	select count(1) from mybatisinfo 
	</select>

</mapper>